.imgSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .next,
  .prev {
    padding: 10px;
    color: #55352b;
    height: 10em;
    font-size: xx-large;
    border: none;
    background-color: transparent;
  }
  .next:active,
  .prev:active {
    outline: 0 !important;
    box-shadow: none;
  }
}
.description {
  width: 40em;
  margin-left: 3em;
  margin-right: 1em;
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 4em;
    height: 4em;
  }
}
h5,
p,
h4 {
  color: #321f19;
}
.dotWithText {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dotEar,
.dotShoulder,
.dotHip,
.dotKnee,
.dotAnkle,
.dotLeftShoulder,
.dotRightShoulder,
.dotLeftHip,
.dotRightHip,
.dotLeftKnee,
.dotRightKnee {
  margin-left: 0.2em;
  display: block;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
}

.dotEar,
.dotLeftShoulder {
  background-color: #f8e434;
}
.dotShoulder,
.dotRightShoulder {
  background-color: #f93434;
}
.dotHip,
.dotLeftHip {
  background-color: #3ef934;
}
.dotKnee,
.dotRightHip {
  background-color: #3455f9;
}
.dotAnkle,
.dotLeftKnee {
  background-color: #f603b9;
}
.dotRightKnee {
  background-color: #000000;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spinner-spin infinite 5s linear;
  }
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
