.uploadContainer {
  .note {
    color: gray;
    padding-top: 0.5em;
    font-size: small;
  }

  p {
    width: 75em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;

    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }

    li::before {
      content: '⭐ ';
    }
  }
}
