.parentContainer {
  position: relative;
  flex-flow: column;
  display: flex;
  width: 30em;

  img {
    max-width: 100%;
  }
}

.dot {
  position: relative;
  display: block;
}
.dot::after {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #f7666b;
  border-radius: 50%;
  border: 1px solid aliceblue;
}

.line {
  position: relative;
  min-width: 10px;
}

.line::after {
  content: '';
  position: absolute;
  width: inherit;
  height: 2px;
  border: solid 1px #f7666b;
  background-color: #f7666b;
  left: 3px;
}
